#awesome {
    
}

#awesome__container {
    padding: 80px 0;
}

#awesome__description {
    margin-bottom: 68px;
}

.awesome__wrap {
    display:flex;
    justify-content: space-between;
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
}

.card {
    justify-content: center;
}

.card__content {
    
}

.card__img {
    width: 70px;
    height: 70px;
    border: 1px solid #E72424;
    border-radius: 50%;
    margin: 0 auto 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    
        
}

.card__img img {
    width: 100%;
    height: 100%;
    object-fit: none;
    margin: auto;
}

.card__title {
    margin-bottom: 16px;
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 700;
    text-align: center;
}

.card__text {
    width: 350px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
}

