#footer {
    padding: 30px 542px 15px 541px;
    background-color:  #E2E2E2;
}

#footer__container {
    width: 317px;
}

.social-media__contact {
    display: flex;
    justify-content: space-between;
    margin: auto;
    

}

.social-media__contact span{
    width: 30px;
    height: 23px;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 18px;
}

.social-media__contact img{
    width: 100%;
    height: 100%;
    object-fit:contain;
    object-position: center;
}

#a1-f:hover {
    transition: 0.2s;
    border-bottom: 1px solid rgba(59, 89, 152, 0.55);
}

#a2-f:hover {
    transition: 0.2s;
    border-bottom: 1px solid rgba(221, 42, 123, 0.55);
}

#a3-f:hover {
    transition: 0.2s;
    border-bottom: 1px solid rgba(29, 155, 240, 0.55);
}

#a4-f:hover {
    transition: 0.5s;
    border-bottom: 1px solid rgba(0, 136, 204, 0.55);
}

#a5-f:hover {
    transition: 0.2s;
    border-bottom: 1px solid rgba(230, 0, 35, 0.55);
}

#a6-f:hover {
    transition: 0.2s;
    border-bottom: 1px solid rgba(255, 252, 0, 0.55);
}

.footer__text {
    text-align: center;
    font-size: 12px;
    font-family: 'Open Sans';
    font-weight: 400;
    color: rgba(134, 135, 139, 0.5);
}