#header {
    background-color: #000000;
    padding: 20px 108px 19px 110px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
}

#header__container {
    display: flex;
    justify-content: space-between;
    
}

.header__logo {
    text-decoration: none;
    border-bottom: none;
}

#AX {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Raleway';
}

#IT {
    color: #EC7979;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Roboto';
}

.header__logo:visited{
    text-decoration: none;
    border-bottom: none;
}

.header__navigation {
    display: inline-block;
    margin: auto 0;
    flex-wrap: wrap;
}

#header a {
    text-decoration: none;
}

#navigation__list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 15px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);

}

#navigation__list a:hover {
    transition: 0.2s;
    border-bottom: 1px solid#FFFFFF;
    color: #EC7979;
    
}

#navigation__list a:visited {
    color:#FFFFFF;
}