@import url("../css/awesome.css");
@import url("../css/price.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }


.container {
    max-width: 1170px;
    margin: auto;
    
}

.title {
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-weight: 400;
    margin-bottom: 34px;
}

.description {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    color:  #86878B;
    text-align: center;
}

.line {
    height: 2px;
    width: 64px;
    border-top: 1px solid #E72424;
    margin: 0 auto 34px;
}
