#main-screen {
    background: url(../img/background-1\ 1main-screen__bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

#main-screen__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#main-screen::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: -1;
}

.main-screen__content {
    max-width: 544px;
}

.main-screen__content__logo {
    margin-bottom: 42px;
}

#AX_main{
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 400;
    font-family: 'Roboto';
}

#IT_main {
    color: #EC7979;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 400;
    font-family: 'Roboto';

}

.main-screen__content h1 {
    font-family: 'Raleway';
    font-size: 36px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
}

.main-screen__content h1::after {
    content: "";
    display: block;
    height: 0;
    width: 64px;
    border-top: 1px solid rgba(255, 255, 255, 1);
    margin-bottom: 39px;
    margin-top: 32px;
}

.main-screen__content p {
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 39px;
}

.download {
    height: 42px;
    width: 135px;
    display: block;
    border: 1px solid rgba(255, 255, 255, 1);
    justify-content: start;
}

.download:hover {
    transition: 0.2s;
    background-color: rgba(20, 20, 20, 0.5);
    border-color: black;
 
    box-shadow: 5px 10px 40px 1px rgba(10, 10, 10, 0.5);
}

.download__button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.download__button a{
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Open Sans';
    
}

.download__button a:visited {
    color:  #ffffff;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Open Sans';
}

#main-screen__container form{
    background-color: #FFFFFF;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.main-screen__form__content {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-family: 'Open Sans';
    font-family: 700;
    justify-content: center;
    margin-bottom: 44px;
    line-height: 56px;
    padding: 0 59px;

    
}

#main-screen__form__content_1: {
    text-transform: capitalize;
    color:rgba(51, 51, 51, 1);
}


#main-screen__form__content_2 {
    text-transform: uppercase;
    color:#EC7979;
}

#main-screen__form__content_3: {
    text-transform: capitalize;
    color:rgba(51, 51, 51, 1);
}

.main-screen__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 59px;
}

.main-screen__form label{
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 400;
    color: rgba(189, 189, 189, 1);
}

.main-screen__form input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(189, 189, 189, 1);
    margin-bottom: 19px;
}

.main-screen__form input:focus {
    transition: 0.2s;
    box-shadow: 5px 10px 40px 1px rgba(225, 136, 176, 0.626);
}


.main-screen__form__button {
    margin-top: 61px;
    width:100%;
    color: #FFFFFF;
    background-color: #EC7979;
    
    line-height: 54px;
    position: relative;
    display: flex;
    justify-content: center;
}

.main-screen__form__button a {
    width: inherit;
    color: #FFFFFF;
    background-color: #EC7979;
    font-size: 15px;
    font-weight: 600;
    font-size: 'Open Sans';
    text-align: center;
}
   
.main-screen__form__button:hover {
    transition: 0.2s;
    background-color:#edb0b0;
    border-color: rgb(255, 255, 255);
    box-shadow: 5px 10px 40px 1px rgba(10, 10, 10, 0.5);
}



