#social {
    padding: 14px 111px 17px 111px;
    background-color: #F8EFEF;
}

#social__container {
    display: flex;
    justify-content: space-between;
    
}

.social__media {
    display: flex;
    flex-direction: column;
    width: 365px;
   
}

.social__media h2{
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 14px;
}

.social__media p{
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    color: #86878B;
}

.social__logos {
    display: flex;
    justify-content: space-between;
    margin: auto 0px;
    width: 684px;
    
     
}

.social__logos span{
    width: 42px;
    height: 42px;
    flex-wrap: wrap;
}

.social__logos img{
    width: 100%;
    height: 100%;
    object-fit:contain;
    object-position: center;
}

#a1:hover {
    transition: 1s;
    border-bottom: 1px solid rgba(59, 89, 152, 0.55);
    transform: scale(1.2) ;
    transform: rotate(360deg);
}

#a2:hover {
    transition: 1s;
    border-bottom: 1px solid rgba(221, 42, 123, 0.55);
    transform: scale(1.2) ;
    transform: rotate(360deg);
}

#a3:hover {
    transition: 1s;
    border-bottom: 1px solid rgba(29, 155, 240, 0.55);
    transform: scale(1.2) ;
    transform: rotate(360deg);
}

#a4:hover {
    transition: 1s;
    border-bottom: 1px solid rgba(0, 136, 204, 0.55);
    transform: scale(1.2) ;
    transform: rotate(360deg);
}

#a5:hover {
    transition: 1s;
    border-bottom: 1px solid rgba(230, 0, 35, 0.55);
    transform: scale(1.2) ;
    transform: rotate(360deg);
}

#a6:hover {
    transition: 1s;
    border-bottom: 1px solid rgba(255, 252, 0, 0.55);
    transform: scale(1.2) ;
    transform: rotate(360deg);
}